.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}
.resizer:hover,
.resizing {
    border-right: 3px solid gray;
    height: 100%;
}
.resizable {
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}